@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Signika:wght@300&display=swap');
html, body{
    margin: 0;
    background-color: #2F4F30;
    color: white;
    user-select: none;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    font-family:'Righteous', cursive;
}

.container, #divBotones{
    font-family: 'Signika',sans-serif;
}

.carta{
    position: relative;
    left: 100px;
    margin-left: -75px;
    width: 150px;
}

#computadora-cartas, #jugador-cartas{
    height: 240px;
}

/* Estilos sweetalert2 */

.swal2-title {
    font-family:'Righteous', cursive;
}
.swal2-content {
    font-family: 'Signika',sans-serif;
}